<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="stylesheet" type="text/css" href="css/bulma.css">
    <script data-main="js/index" src="js/require.js"></script>


</head>
<body>
<div id="index">



    <!--formal page-->
<section class="section " >
    <div class="box" >
        <div class="columns">
            <div class="column is-3">
                user_id:<input v-model="userID" type="text" class="input"  />
            </div>
            <div class="column is-3">
                password:<input v-model="passWord" type="password" class="input"/>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <button v-on:click="register" class="button is-link is-light " >register</button>
            </div>
            <div class="column is-3">
                <button v-on:click="logIn" class="button is-link is-light">Log In</button>
            </div>
        </div>
    </div>
</section>

</div>

</body>
</html>